@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "node_modules/progress-tracker/src/styles/progress-tracker.css"; */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    scroll-behavior: smooth;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scroll-text {
  background: linear-gradient(to right, black 50%, grey 50%);
  background-size: 200% 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: scroll-animation 0.01s linear forwards;
}

@keyframes scroll-animation {
  0% {
    background-position: 000% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.wipe {
  background: linear-gradient(to bottom, white 50%, black 50%);
  background-size: 100% 200%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: wipe-animation 0.01s linear forwards;
  animation-timeline: view();
  animation-range: 50% cover 55%;
}

@keyframes wipe-animation {
  0% {
    background-position: 000% 0;
  }
  100% {
    background-position: 000% 100%;
  }
}

.custom-scroll ::-webkit-scrollbar {
  display: none;
}
/* .custom-scroll::-webkit-scrollbar {
  display: none;
} */

.custom-scroll *::-webkit-scrollbar, .custom-scroll * {
  scrollbar-width: none;
}

@keyframes wipe-animation {
  0% {
    background-position: 000% 0;
  }
  100% {
    background-position: 000% 100%;
  }
}

.outofview {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transition: all 2s ease;
  }
}

.inofview {
  &::before {
    top: 100%;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transition: all 2s ease;
  }

  .carousel .slide {
    background: #fff;
}
.carousel .carousel-item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
}
  
.circle-a {
  position: absolute;
  /* left: 0;
    top: 25%;
    height: 100vh;
    width: 100vw; */
  inset: 0;
  background: #DBE2EC;
  z-index: -1;
  clip-path: circle(65vh at 50vw 100vh);
  transition: all 0.5s ease-in-out;
}

.circle-b {
  position: absolute;
  inset: 0;
  background: white;
  /* left: 0;
    top: 25%;
    height: 100vh;
    width: 100vw; */
  /* opacity: 0.5; */
  z-index: 1;
  clip-path: circle(10vh at 50vw 100vh);
  transition: all 0.5s ease-in-out;
}

.expand {
  clip-path: circle(100vh at 50% 50%);
}


.card-autoflow {
  animation: autoflow 3s linear ;
  --start: 100%;
}

@keyframes autoflow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100%));
  }
}

/* .myscroll {
  animation: myscroll 5s linear;
} */

/* @keyframes myscroll {
  0% {
    transform: translateX(0%);
    scroll
  }
  100% {
    transform: translateX(calc(-100%));
  }
} */


.animate-cancers {
  animation: animate-cancers 1s linear;
  transform-origin: top;
  transform: scaleY(0);
}

@keyframes animate-cancers {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(100%);
  }
}

.animate-suggestion {
  animation: suggestion 1s ease forwards;
  opacity: 0;
}

@keyframes suggestion {
  0% {
    opacity: 0;
    /* transform: translateX(-100%); */
  }
  100% {
    opacity: 1;
    /* transform: translateX(0); */
  }
}

/* Add this to your CSS file */
.globe-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 50vh; /* Ensures only the top half is visible */
  overflow: hidden;
}

.globe {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the globe fits within the container */
}


.tick-animation {
  animation: tick 0.3s ease-in-out forwards;
  opacity: 0;
  transform-origin: 0% 0%;
}

@keyframes tick {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.custom-news-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50px;
}

.custom-news-scrollbar::-webkit-scrollbar {
  background: transparent;
  height: 0.5rem;
  border-radius: 50px;
}


.custom-news-scrollbar:hover::-webkit-scrollbar-track {
  background: #DBE2EC;
}

.custom-news-scrollbar:hover::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 50px;
}


.custom-news-scrollbar::-webkit-scrollbar-button {
  background: transparent; 
  width: 10%;
}

.badge {
  background-color: #333;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 9999px;
  font-size: 0.875rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* HexagonalChart.css */
/* HexagonalChart.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  position: relative;
}

.hexagon {
  position: relative;
  width: 300px;
  height: 300px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 2rem;
  color: #333;
}

.label {
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
}

.gradient-glow {


  background: #aade8d;
  color: white;
  text-shadow: 0 0 10px #00000020, 
               0 0 30px #00000020;

            }

.bars-fade-in {
  animation: bars-fade-in 5s ease;
}

@keyframes bars-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

