@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scroll-text {
  background: linear-gradient(to right, black 50%, grey 50%);
  background-size: 200% 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: scroll-animation 0.01s linear forwards;
}

@keyframes scroll-animation {
  0% {
    background-position: 000% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.wipe {
  background: linear-gradient(to bottom, white 50%, black 50%);
  background-size: 100% 200%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: wipe-animation 0.01s linear forwards;
  animation-timeline: view();
  animation-range: 50% cover 55%;
}

@keyframes wipe-animation {
  0% {
    background-position: 000% 0;
  }
  100% {
    background-position: 000% 100%;
  }
}

.custom-scroll ::-webkit-scrollbar {
  display: none;
}
  @keyframes wipe-animation {
    0% {
      background-position: 000% 0;
    }
    100% {
      background-position: 000% 100%;
    }
  }

  .outofview {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      transition: all 2s ease;
    }
  }

  .inofview {
    &::before {
      top: 100%;
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      transition: all 2s ease;
    }
  }


  .circle-a {
    position: absolute;
    /* left: 0;
    top: 25%;
    height: 100vh;
    width: 100vw; */
    inset: 0;
    background: grey;
    opacity: 0.5;
    z-index: -1;
    clip-path: circle(50% at 50% 60%);
    transition: all 0.5s ease-in-out;
  }

  .circle-b {
    position: absolute;
    inset: 0;
    background: white;
    /* left: 0;
    top: 25%;
    height: 100vh;
    width: 100vw; */
    /* opacity: 0.5; */
    z-index: 1;
    clip-path: circle(10% at 50% 50%);
    transition: all 0.5s ease-in-out;
  }

  .expand {
    clip-path: circle(100% at 50% 110%);
  }